<h1>Welcome to My Assesment</h1>
<p>Please Forgive my Asceticism</p>

<%= form_tag("/sms/send", method: "post") do %>
    <%= label_tag(:message, "Input Message:") %>
    <%= text_field_tag(:message) %>
    <%= label_tag(:number, "Input Number:") %>
    <%= text_field_tag(:number) %>
    <%= submit_tag("Submit") %>
<% end %>
